{% extends 'dashboard_common/dashboard_base.html' %}

{% block head %}
	{{ super.super() }}
	{{ super() }}
	{% block title %}Guide Dashboard - Communicate {{ teamName }}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_common/dashboard_forms.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('guide_dashboard_bp.static', filename='guide_dashboard_home.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_common/modal.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('guide_dashboard_bp.static',filename='guideSpecificCommunication.css') }}">
{% endblock%}

{% block org_logo %}
	<a href="{{ url_for('guide_dashboard_bp.guide_dashboard_home') }}"><img src="{{ url_for('static', filename='org_logo.jpg') }}"></a>
{% endblock %}

{% block username %}
	{{ session['guide_username'] }}
{% endblock %}

{% block logout %}
	<a href="{{ url_for('guide_auth_bp.guideLogout') }}"><button id="logout-btn">Logout</button></a>
{% endblock %}

{% block side_nav_options %}
	<ul>
		<a href="{{ url_for('guide_dashboard_bp.guide_dashboard_home') }}"><li>Project List</li></a>
		<a href="{{ url_for('guide_dashboard_bp.guideProfile') }}"><li>My Profile</li></a>
		<a href="{{ url_for('guide_dashboard_bp.guideCommunications') }}"><li>Manage Communications</li></a>
	</ul>
{% endblock %}

{% block body %}
	{{ super() }}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="flashed-messages" >
				{{ message }}
				<button id="flash-message-close-btn" onclick="remFlashMessage({{ loop.index }})">X
				</button>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<section id="contentSec">
				<div id="contentSec-hd">
			<h1>Communicate -  {{ teamName }}</h1>
			<button id="modal-trigger1" onclick="showThisModal(1)" class="add-btns modal-trigger">Add New Comment</button>
		</div>
		<div id="chat-divison">
			<div>
				{% if fullCommData is not none %}
				{% if fullCommData is defined and fullCommData|length > 0  %}
					{% for row in fullCommData %}
					<div class="indChat">
						<div class="indChat-from">
							{% if  row[1]|string() == "1" %}
								You
							{% elif row[1]|string() == "0" %}
								{{ teamName }}
							{% endif %}
						</div>
						<div class="indChat-content">
							{{ row[0] }}
						</div>
						<div class="indChat-time">
							{{ row[2].strftime('%d-%m-%Y, %H:%M') }}
						</div>
					</div>
					{% endfor %}
				{% endif %}
				{% endif %}
			</div>
			<div id="new-comment-div">
				<div id="modal1" class="modal">
					<form id="modal-content1" class="modal-content dashboard-forms" method="POST" action="{{ url_for('guide_dashboard_bp.communicationAdd', inputTID=inputTID) }}">
						<div id="close-btn-div">
							<span id="modal-close-button1" class="modal-close-button" onclick="closeThisModal(1)">&times;
							</span>
						</div>
						<div id="cmt-inpt-div">
							<label for="cmt-area">New Comment</label>
							<textarea name="cmt-area" form="modal-content1" maxlength="250" rows="10" cols="60" required placeholder="Enter your comment.(Max 250 words)"></textarea>
						</div>
						<div id="action-btn-div">
							<button type="submit">Add</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_common/modal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_common/dashboard_base.js') }}"></script>
{% endblock %}