{% extends 'dashboard_common/dashboard_base.html' %}

{% block head %}
	{{ super.super() }}
	{{ super() }}
	{% block title %}Team Dashboard - Guide Details{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('team_dashboard_bp.static', filename='team_dashboard_home.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_common/modal.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_common/dashboard_forms.css') }}">
{% endblock %}

{% block org_logo %}
	<a href="{{ url_for('team_dashboard_bp.team_dashboard_home') }}"><img src="{{ url_for('static', filename='org_logo.jpg') }}"></a>
{% endblock %}

{% block username %}
	{{ session['team_username'] }}
{% endblock %}

{% block logout %}
	<a href="{{ url_for('team_auth_bp.teamLogout') }}"><button id="logout-btn">Logout</button></a>
{% endblock %}

{% block side_nav_options %}
	<ul>
		<a href="{{ url_for('team_dashboard_bp.team_dashboard_home') }}"><li>Manage Projects</li></a>
		<a href="{{ url_for('team_dashboard_bp.manageMembers') }}"><li>Manage Member Details</li></a>
		<a href="{{ url_for('team_dashboard_bp.guideDetails') }}"><li>Guide Details</li></a>
		<a href="{{ url_for('team_dashboard_bp.teamCommunicate') }}"><li>Manage Communication</li></a>
	</ul>
{% endblock %}

{% block body %}
	{{ super() }}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="flashed-messages" >
				{{ message }}
				<button id="flash-message-close-btn" onclick="remFlashMessage({{ loop.index }})">X
				</button>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<section id="contentSec">
		<div id="contentSec-hd">
			<h1>Guide Details</h1>
		</div>
		<div id="table-div">
			<table class="dashboard-tables">
				<tr id="header-row">
					<th class="gd-sr-no-cell">Sr. No.</th>
					<th class="gd-sname-cell">Name</th>
					<th class="gd-email-cell">Email</th>
				</tr>
				{% for row in teamGuideData %}
				<tr>
					<td class="gd-sr-no-cell">{{ loop.index }}</td>
					<td class="gd-gname-cell">{{ row[1] }}</td>
					<td class="gd-email-cell">{{ row[2] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</section>
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_common/modal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dashboard_common/dashboard_base.js') }}"></script>
{% endblock %}